.App {
  text-align: center;
}

.form input {
  padding: 1rem;
}

.showcase {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.container img {
  width: 12rem;
  height: 10rem;
  margin: 2rem;
  object-position: center;
  object-fit: cover;
}
